#panel{
  padding: 5px;
  background-color: #BFBFBF;
  position: absolute;
  top: 1%;
  right: 1%;
  width: 200px;
  height: 98%;
  opacity: 0.95;
  font-size: 13px;
}

#panel h5 {
  margin: 15px 0 0 0;
}

#panel #node-name{
  color: #590202;
}

.chart .label {
  font: 10px sans-serif;
  padding: 6px 0px 0px 2px;
}

.chart .bar {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart.targets .bar {
  background-color: sandybrown;
}
.chart.sources .bar {
  background-color: steelblue;
}
